<div style="float: left;">
	<h1>Scans</h1>
</div>
<div style="float: left; padding-top: 20px; padding-left: 50px;">
	<%= link_to 'Neuen scan hochladen', new_scan_path, class: "btn pull-left" %>
	<form class="pull-left">
		<label class="checkbox pull-left" style="margin-left: 10px;">
			<input type="checkbox" onclick="this.form.submit();" name="deleted" <%= "checked" if params[:deleted]%>>
			Auch gelöschte</input> </label>
		<label class="checkbox pull-left" style="margin-left: 10px;">
			<input type="checkbox" onclick="this.form.submit();" name="request_number" <%= "checked" if params[:request_number]%>>
			Auch mit erkantem Tracking-Code</input> </label>
	</form>
</div>
<table class="table table-hover" style="clear: both;">
	<thead>
		<tr>
			<th>Request</th>
			<th>Note</th>
			<th>Flags</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<% @scans.each do |scan| %>
		<tr onclick="location='<%= url_for scan%>'">
			<td><%= link_to scan.request_number, scan.request if !scan.request_number.nil? %></td>
			<td><%= scan.note %></td>
			<td>
				<%= "DATA" if !scan.data.nil?%>
				<%= "Gelöscht" if scan.deleted %>
				<%= "Ohne Track-Code" if scan.request_number.nil?%>
			</td>
			<td><%= link_to 'Show', scan %></td>
			<td><%= link_to 'Edit', edit_scan_path(scan) %></td>
			<td><%= link_to 'Destroy', scan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
		<% end %>
	</tbody>
</table>