<p id="notice">
	<%= notice %>
</p>

<div style="width: 50%; float: right;">
	<a href="/Files/<%= @scan.file%>"> <img src="/Files/thumbnail/<%= @scan.file.split('.').first%>.png" style="width: 100%;" alt="Scan"/> </a>
</div>
<div style="width: 50%;">
	<p>
		<% if @scan.request then %>
		<strong>Request</strong>
		<%= link_to @scan.request.ean, @scan.request, class: "btn" %>
		<% else %>
		<h2>Fehler</h2>
		Der zugehörige Vorrgang konnte nicht gefunden werden. Ggf. ist der Tracking-Aufkleber vergessen worden oder ist nicht erkannt worden.
		<script> handle_no_ean("<%= url_for @scan %>");</script>
		<% end %>
	</p>

	<p>
		<strong>Note:</strong>
		<%= @scan.note %>
	</p>

	<p>
		<strong>Deleted:</strong>
		<%= @scan.deleted %>
	</p>

	<%= link_to 'Edit', edit_scan_path(@scan), class: "btn" %>
	<%= link_to 'Back', scans_path, class: "btn" %>
	<%= link_to 'Destroy', @scan, method: :delete, data: { confirm: 'Are you sure?' },  class: "btn btn-danger" %>
	<div style="padding: 5px;">
		<p>
			<strong>QR-Daten:</strong>
			<%= debug @scan.data %>
		</p>
	</div>
</div>
