<h1>Listing requests</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Request number</th>
      <th>Note</th>
      <th>Has data</th>
      <th>State</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr onclick="location='<%= url_for request %>'">
        <td><%= request.request_number %></td>
        <td><%= request.note %></td>
        <td><%= request.has_data %></td>
        <td><%= request.state %></td>
        <td><%= link_to 'Show', request %></td>
        <td><%= link_to 'Edit', edit_request_path(request) %></td>
        <td><%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Request', new_request_path %>
