<div style="float: left;">
	<h1>Requests</h1>
</div>
<div style="float: left; padding-top: 20px; padding-left: 50px;">
	<form class="pull-left">
		<select name="state" onchange="this.form.submit();">
			<% Request.group(:state).each do |r| %>
				<option <%="selected" if r.state == params[:state] %>><%=r.state%></option>
			<% end %>
		</select>
	</form>
</div>
<table class="table table-hover" style="clear: both;">
  <thead>
    <tr>
      <th>Request number</th>
      <th>Note</th>
      <th>Has data</th>
      <th>State</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr onclick="location='<%= url_for request %>'">
        <td><%= request.request_number %></td>
        <td><%= request.note %></td>
        <td><%= request.has_data %></td>
        <td><%= request.state %></td>
        <td><%= link_to 'Show', request %></td>
        <td><%= link_to 'Edit', edit_request_path(request) %></td>
        <td><%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>